<h1>Showing Selected article</h1>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-center">
        <%= @article.title %>
      </h4>
      <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
        <div class="dropdown pull-right" style="margin-top: -6vh; margin-right: -1vw">
          <button 
            class="btn btn-default dropdown-toggle"
            type="button"
            id="articlesDropDown"
            data-toggle="dropdown"
            aria-haspopup="true" 
            aria-expanded="true">
          Menu
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="articlesDropDown">
            <li><%= link_to "Edit", edit_article_path(@article) %></li>
            <li><%= link_to "Delete", article_path(@article),method: :delete, data: { confirm: 'Are you sure?' }%></li>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="panel-body text-center">
      <%= @article.description %>
    </div>
  </div>